header {
    height: 200px;
    background-color: #0D6EFD;
}

nav {
    height: 160px;
    background-color: #6C757D;
    border: solid 1px black;
}

section {
    height: 200px;
}

.section1 {
    background-color: #198754;
}

.section2 {
    background-color: #DC3545;
}

footer {
    height: 200px;
    background-color: #FFC107;
}

.cuadrado{
    height: 160px;
    border: solid 1px black;
}

.cuadrado.col-3 {
    background-color: #FFD966;
}

.cuadrado.col-5 {
    background-color: #3C78D8;
}