<header class="d-flex justify-content-center align-items-center">
  <nav class="col-10">{{ title }}</nav>
  <!--Anidamos una variable, inyectamos HTML-->
</header>
<section class="section1 d-flex justify-content-around align-items-center">
  <div class="cuadrado col-5"></div>
  <div class="cuadrado col-5"></div>
</section>
<section class="section2 d-flex justify-content-around align-items-center">
  <div class="cuadrado col-3">lorem*5</div>
  <div class="cuadrado col-3">lorem*5</div>
  <div class="cuadrado col-3">lorem*5</div>
</section>
<footer></footer>
